@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    @font-face{
        font-family: "WebSymbolsRegular";
        src: url('../css/fonts/websymbols-regular-webfont.eot');
        src: url('../css/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
             url('../css/fonts/websymbols-regular-webfont.woff') format('woff'),
             url('../css/fonts/websymbols-regular-webfont.ttf') format('truetype'),
             url('../css/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .gear, .icon{
        font-family: "WebSymbolsRegular"; 
    }

    @font-face{
        font-family: "BebasNeue";
        src: url('fonts/BebasNeue.otf');
        font-weight: normal;
        font-style: normal;
    }

    #header{
        font-family: "BebasNeue";
    }

    #banner{
        background-position: -200px -200px;
    }

    #banner h1{
        font-family: 'BebasNeue';
    }

    @font-face{
        font-family: "TrebuchetMS";
        src: url('fonts/TrebuchetMS.ttf');
        font-weight: normal;
        font-style: normal;
    }

    .card .category{
        font-family: "TrebuchetMS";
    }

    .card .description{
        font-family: "TrebuchetMS";
    }

    #lateral{
        font-family: "TrebuchetMS";
    }

    #lateral h3{
        background: url('../img/pxgray.png'), white;
        font-family: "BebasNeue";
    }

    #login input[type="submit"],
    #login input[type="button"],
    #login input[type="reset"],
    #login button{
        background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
        font-family: "TrebuchetMS";
    }

    #social .overlay{
        font-family: Arial, Helvetica, sans-serif;
        margin-top: -52px;
        transform: translateX(-80%);
    }

    #social div:hover .overlay{
        transform: translateX(0%);
    }

    #articles h2{
        line-height: 75px;
        font-family: "BebasNeue";
        background: url('../img/pxgray.png'), white;
    }

    #articles article{
        font-family: "TrebuchetMS";
    }

    #articles .data{
        margin:-10px;
    }

    #blog{
        line-height: 100px;
    }

    #blog a{
        font-family: "BebasNeue";
    }

    #blog:hover a{
        text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
    }

    #footer .wrap > div{
        font-family: "TrebuchetMS";
    }

    #footer h5{
        background: url('../img/pxgray.png'), white;
        font-family: "BebasNeue";
        line-height: 55px;
    }
}